$footer-boder-color: #444f5f;
$footer-color: #acafb5;

#footer{
  background: #2f3b4d;
  .footer-1{
    padding-top: 30px;
    padding-bottom: 30px
  }
  .footer-2{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $footer-boder-color;
    border-top: 1px solid $footer-boder-color;
    a{
      color: $footer-color;
      text-decoration: none;
    }
    .footer-menu{
      .menu-item{
        border-right: 2px solid $footer-boder-color;
        &:last-child{
          border: none;
        }
      }
    }
  }
  .footer-3{
    color: $footer-color;
    font-size: 10pt;
    padding-top: 20px;
    padding-bottom: 20px
  }
}